.section--clients {
  padding: 5em 0;
}

.clients__content {
  text-align: center;
}

.clients__logos {
  display: flex;

  img {
    max-width: 100%;
  }
}


@media screen and (max-width: 750px) {
  h4 {
    line-height: 2;
  }
  .clients__logos {
    flex-wrap: wrap;
  }
  .client-logo {
    flex-basis: 16em;
  }
}
