.section--intro {
  position: relative;
  color: #fff;
  padding: 10em 0;
}

.intro__content {
  max-width: 500px;
}

.title {
  font-size: 120px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: .2em;
}

.description {
  font-size: 30px;
  color: #fff;
  opacity: .8;
  -webkit-font-smoothing: antialiased;

  em {
    font-style: normal;
    color: #FF3100;
  }
}
