@import url('https://fonts.googleapis.com/css?family=PT+Serif');

@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/static/avenir-400.woff2") format("woff2");
  font-display: swap;
}

// Colours
$primary: #FF3100;

body {
  font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #fff;
  background: #fff;
  margin: 15px;
  font-size: 1vw;
}

img {
  display: block;
  width: 100%;
}

h2 {
  font-size: 5em;
  margin-top: .5em;
}

h4 {
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 600;
  line-height: 1;
  margin-top: .6em;
  margin-bottom: .6em;
}

a {
  color: currentColor;
}

p {
  font-family: 'PT Serif', serif;
  color: #C1C1C1;
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

.wrapper {
  max-width: 65vw;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
}


.description {
  font-family: 'PT Serif', serif;
}


@media screen and (max-width: 750px) {
  body {
    font-size: 2vw;
  }
}
